@import "tailwindcss";

@theme {
  --spacing: 8px; 
  --font-mono: "Anonymous Pro", monospace;
  --font-serif: "Cormorant", serif;

  /* Colors */
  --color-beige: #EAE0CC;
  --color-pink: #C9ADA1;
  --color-green: #A0A083;
  --color-dark-green: #798478;
  --color-blue: #4D6A6D;
  --color-gray: #AAAAAA
}

html, body, #root {
    height: 100%;
    margin: 0;
    background-color: #EAE0CC;
}

@utility text-h1 {
  font-family: var(--font-mono);
  font-weight: 600;
  font-size: 56px;
}

@utility text-h2 {
  font-family: var(--font-mono);
  font-weight: 600;
  font-size: 32px;
}

@utility text-h3 {
  font-family: var(--font-mono);
  font-weight: 600;
  font-size: 24px;
}

@utility text-h4 {
  font-family: var(--font-mono);
  font-weight: 600;
  font-size: 18px;
}

@utility text-body-1 {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
}

@utility text-body-2 {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
}

@utility text-subtitle-1 {
  font-family: var(--font-mono);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
}


